

.btn{
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 5px darkslateblue, -5px -5px 20px 5px dodgerblue,
        inset 0px 0px 10px 2px darkslategray, inset 0px 0px 10px 10px steelblue;
    border: 1px solid #000;
    border-radius: 10px;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.5) rotate(360deg);
}

.wrapper {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-item {
    width: 150px;
    max-height: 100px;
    background-color: darkslateblue;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
    margin-bottom: 4px;
  
    transform-origin: 0 0;
    transform: translateX(-100px);
    opacity: 0;
  
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  
  .wrapper:is(:hover, :focus) .menu-item {
    transform: translateX(0);
    opacity: 100%;
  }
  
  .wrapper .menu-item:nth-of-type(1) {
    transition-delay: 0ms;
  }
  
  .wrapper .menu-item:nth-of-type(2) {
    transition-delay: 100ms;
  }
  
  .wrapper .menu-item:nth-of-type(3) {
    transition-delay: 200ms;
  }
  
  .wrapper .menu-item:nth-of-type(4) {
    transition-delay: 300ms;
  }
  
  .wrapper .menu-item:nth-of-type(5) {
    transition-delay: 400ms;
  }
  
  .wrapper p {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Decorative styles */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* -----filters------ */
  .emoji {
    font-size: 8em;
    filter: grayscale(100%);
    transition: filter 450ms ease;
  }
  
  .emoji:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
body {
    display: grid;
    place-items: center;
}
  